*.root
*/*.root
*.npz
*.log
*.txt
*.pyc
*/*.pyc
*.hdf5
*.parquet*
.*.*
__init__.py
crab_MC
crab_MC/*
*/crab_MC
*/crab_MC/*
crab_projects
crab_projects/*
*/crab_projects
*/crab_projects/*
*/crab_inference
*/crab_inference/*
dump_hbhereco_gluhtau.C
plottingMacros/IMG
plottingMacros/IMG/*
produceMC/*.C
produceMC/Ruchi_HToTauTau_dump_event_content.C
produceMC/gen_GluGluHToTauTau_M125_13TeV_powheg_pythia8_old.py
